table {
    margin-left: 13em;
    font-size: 35px;
    text-align: center;
}
table tr td {
    padding: 15px;
}
.avaiable {
    background-color: : green;
}

.marked {
    background-color: : gray;
}

#error {
    color: blue;
}

#btnSend {
    margin-left: 48em;
    padding: 5px;
}
